<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Eonon Pro</title>
    <link href="~/Content/Themes/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body class="overflow-xhidden">
    @RenderSection("navbar", required: false)
   

    <!-- container gioi thieu -->
    @RenderBody();



    @* footer *@
    <footer class="bg-dark text-white pt-4 pb-4 mt-xxl-5">

        <div class="container text-md-left">

            <div class="row  text-md-left">

                <div class="col-md-4">
                    <a href="#">
                        <img src="~/Content/images/logoFooter.png" width="100%" style="max-width:352px;" />
                    </a>
                    <ul class="footerMenuNav">
                        <li style="font-size:20px;margin-bottom:10px;margin-top:10px;"><strong>EONON PRO VIỆT NAM</strong></li>
                        <li><a href="#" style="text-decoration:none; color:#FFF;"><i class="fa fa-map-marker"></i> 759/3C Hương Lộ 2, P. Bình Trị Đông A, Q. Bình Tân, TP Hồ Chí Minh.</a></li>
                        <li><a href="#" style="text-decoration:none; color:#FFF;"><i class="fa fa-phone-square"></i>  090 9999 277</a></li>
                        <li><a href="#" style="text-decoration:none; color:#FFF"><i class="fas fa-thumbs-up" style="color: #fff;"></i>  eononpro.vn@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="footerWidget">
                        <h3 class="footer-widget-title">Truy Cập Nhanh</h3>
                        <ul class="footer-menu-nav">
                            <li><a href="" style="text-decoration:none;color:#FFF;">Về EONON PRO</a></li>
                            <li>
                                <a href="" style="text-decoration:none;color:#FFF;">
                                    Chính sách
                                    bảo mật thông tin
                                </a>
                            </li>
                            <li>
                                <a href="" style="text-decoration:none;color:#FFF;">
                                    Chính sách bảo
                                    hành
                                </a>
                            </li>
                            <li>
                                <a href="" style="text-decoration:none;color:#FFF;">
                                    Chính sách thanh
                                    toán
                                </a>
                            </li>
                            <li>
                                <a href="" style="text-decoration:none;color:#FFF;">
                                    Chính sách giao
                                    hàng
                                </a>
                            </li>
                            <li>
                                <a href="" style="text-decoration:none;color:#FFF;">Chính sách đổi trả</a>
                            </li>
                            <li>
                                <a href="" style="text-decoration:none;color:#FFF;">Hướng dẫn sử dụng</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget bg-dark">
                        <h3 class="footer-widget-title">Đăng Ký Nhận Tin</h3>
                        <form id="form-dangky" action="" method="post">
                            <input type="hidden" name="_token" value="ciyQ9PCIJQdmwbnvH9yU0MAOhqN8t3QwN7NFCQFv">
                            <div class="footer-subscribe-box default-search-style d-flex">
                                <input name="email" class="default-search-style-input-box border-around border-right-none subscribe-form" type="email" placeholder="Email ..." required="">
                                <button class="default-search-style-input-btn" type="submit">Gửi</button>
                            </div>
                        </form>
                        <p id="thanks"></p>
                        <p>
                            <strong>Website  đã được thông báo với Bộ công thương</strong>
                        </p>
                        <a href="http://online.gov.vn/Home/WebDetails/97919" class="ttbct">
                            <img style="max-width: 200px" class="w-100" src="https://eononpro.vn/images/aa.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>