@model IEnumerable<WebBTL.Models.Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navbar{

    <div class="container-fluid bgtop2 ">
        <nav class="navbar navbar-expand-lg bg-warning  fixed-top">
            <div class="container ">
                <a class="navbar-brand " href="#"><img src="~/Content/images/logo.png" alt="Alternate Text" style="width:100; max-width:100px;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header bg-warning">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body  bg-warning">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/Home/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Products/Index">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tblTinTuc/Index">Tin tức</a>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-center align-items-center gap-3">
                            <a href="#" class="text-decoration-none text-black">Login</a>
                            <a href="#" class="text-decoration-none px-3 py-1 rounded-4 text-black" style="background-color:blue;">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
}

<section style="margin-top:150px">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/images/v20.png" />
                    <div class="card-body">
                        <a href="#" class="card-link"><h6>Màn hình Android EONON PRO V20</h6></a>
                        <span style="color: rgba(0, 0, 0, 0.5); ">

                            3.999.000₫


                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/images/v20.png" />
                    <div class="card-body">
                        <a href="#" class="card-link"><h6>Màn hình Android EONON PRO V20</h6></a>
                        <span style="color: rgba(0, 0, 0, 0.5); ">

                            3.999.000₫


                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/images/v20.png" />
                    <div class="card-body">
                        <a href="#" class="card-link"><h6>Màn hình Android EONON PRO V20</h6></a>
                        <span style="color: rgba(0, 0, 0, 0.5); ">

                            3.999.000₫


                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/images/v20.png" />
                    <div class="card-body">
                        <a href="#" class="card-link"><h6>Màn hình Android EONON PRO V20</h6></a>
                        <span style="color: rgba(0, 0, 0, 0.5); ">

                            3.999.000₫


                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/images/v20.png" />
                    <div class="card-body">
                        <a href="#" class="card-link"><h6>Màn hình Android EONON PRO V20</h6></a>
                        <span style="color: rgba(0, 0, 0, 0.5); ">

                            3.999.000₫


                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/images/v20.png" />
                    <div class="card-body">
                        <a href="#" class="card-link"><h6>Màn hình Android EONON PRO V20</h6></a>
                        <span style="color: rgba(0, 0, 0, 0.5); ">

                            3.999.000₫


                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
